<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
{{> searchBar}}
{{> infoBar}}
{{> pageTitle}}
<div class="container">
    	<div class="content">
    	<a href="{{meme.memeSrc}}" download >
  		<img src="{{meme.memeSrc}}" alt="{{title}}"/>
  		</a>
  		<h3> {{meme.title}}</h3>
  		<p>Genre: {{meme.genre.name}}<p>
  		<p>{{meme.description}}</p>
  		<hr>
  		<p>
    		<a class="" href="/memes/edit/{{meme._id}}"><button>Edit</button></a>
    		<a class="" href="/memes/delete/{{meme._id}}"><button>Delete</button></a>
    	</p>
  	</div>
</div>
{{> footer}}
</body>
</html>